extend base
block content
    section.banner
        .about
            h2 REGISTER YOUR VEHICLES
            br
            br
            p
                | It is required that every vehicle owner operating within Nnamdi Azikkwe University (UNIZIK) register their vehicle. In order for this to be effective, there is every need for each driver to be in possession of a document that proves you are the owner of the vehicle
